<div class="block-article">
  <div class="container">
    <%= render TechblogWeb.LayoutView, "goback.html", assigns %>
    <%= raw(@article[:html]) %>
    <%= render TechblogWeb.LayoutView, "tags.html", assigns %>
    <%= render TechblogWeb.LayoutView, "goback.html", assigns %>
  </div>
</div>
<%= render TechblogWeb.LayoutView, "version.html", assigns %>
<%= render TechblogWeb.LayoutView, "spinner.html", assigns %>

