@include desktop() {
  .block-homepage {
    .container {
      margin: 0 auto;
      max-width: 1024px;
      display: flex;
      .left-block {
        margin-top: $size-5;
        border-right: 1px solid $blue-1;
        padding: $size-10 $size-5 $size-12 0;
      }
      .right-block {
        margin-top: $size-5;
        padding: $size-10 $size-5 $size-12 $size-5;
        flex: 1;
        pre {
          padding: $size-10 $size-9;
        }
      }
    }
  }
  .block-article {
    .container {
      padding: $size-8 $size-4 $size-4 $size-4;
      pre {
        padding: $size-10 $size-9;
      }
    }
  }
}
@include mobile() {
  .block-homepage {
    .container {
      padding: $size-10 $size-7;
      .left-block {
        display: none;
      }
      .right-block {
        padding: $size-10 $size-5 $size-12 $size-5;
      }
    }
  }
  .block-article {
    .container {
      padding: $size-10 $size-7;
      pre {
        padding: $size-11;
      }
    }
  }
}

nav {
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
}

footer {
  color: $grey-6;
  padding-top: $size-10;
  .container {
    margin: 0 auto;
    max-width: 1024px;
    text-align: right;
    font-weight: 900;
    letter-spacing: $size-13;
    @include mobile() {
      padding-right: $size-7;
    }
  }
  padding-bottom: $size-1;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code.markdown {
  background-color: $grey-0;
  border: 1px solid $grey-6;
  display: block;
  padding: $size-6;
}

.block-homepage {
  .container {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    @include opensans-font(300);
    .left-block {
      margin-top: $size-5;
      border-right: 1px solid $blue-1;

      h2 {
        @include roboto-font(900);
        margin: $size-10 0 $size-13 0;
        font-size: $size-6;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li:first-child {
          margin: $size-10 0 0 0;
        }
        li {
          margin: $size-13 0 0 0;
        }
        a {
          text-decoration: none;
          color: $blue-5;
          &:hover {
            color: $blue-7;
          }
        }
      }
      .recent-articles {
        margin-bottom: $size-5;
      }
    }
    .right-block {
      margin-top: $size-5;

      h1,h2,h3,h4,h5,h6 {
        margin: 5px 0 2px 0;
        @include roboto-font(900);
      }

      h1 {
        font-size: $size-4;
        color: $grey-9;
      }
      h2 {
        font-size: $size-5;
        color: $grey-8;
      }
      h3 {
        font-size: $size-6;
        color: $grey-7;
      }
      h4 {
        font-size: $size-7;
        color: $grey-8;
      }
      h5 {
        font-size: $size-8;
        color: $grey-7;
      }
      h6 {
        font-size: $size-9;
        color: $grey-6;
      }

      p {
        a {
          color: $blue-5;
        }
      }

      img {
        max-width: 100%;
      }

      pre {
        @include inconsolata-font(300);
        background-color: $grey-0;
        font-size: $size-10;
        border-radius: $size-13;
        color: $grey-8;
        overflow: auto;
      }

      .read-more {
        margin-bottom: $size-3;
        a {
          font-size: $size-10;
          color: $blue-4;
          text-decoration: none;
          align-items: center;
          svg {
            height: $size-12;
            width: auto;
            .primary {
              fill: $blue-4;
            }
          }
        }
        &:hover {
          a {
            color: $blue-8;
            text-decoration: underline;
            svg {
              .primary {
                fill: $blue-8;
              }
            }
          }
        }
      }

      .tags {
        h4 {
          display: inline;
        font-size: $size-8;
        }
        ul {
          display: inline;
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            display: inline;
            font-size: $size-8;
          }
          li + li {
            padding-left: $size-7;
          }
        }
        a {
          text-decoration: underline;
          color: $blue-5;
          &:hover {
            color: $blue-7;
          }
        }
        margin-bottom: $size-10;
      }

      ul {
        @include opensans-font(300);
        color: $grey-8;
        margin: $size-8 0 $size-8 0;
        list-style-type: circle;
        li {
          margin-left: $size-3;
          font-size: $size-7;
        }
      }
    }
  }
}

.block-article, .container, .block-homepage, .container, .right-block {
  table {
    width: 100%;
    overflow-x: auto;
    display: table;
    @include opensans-font(300);
    thead tr {
      &:first-child {
        background-color: $blue-8;
        color: white;
      }
      & th {
        font-size: $size-9;
        padding: 20px;

      }
    }

    td {
      font-size: $size-9;
      padding: $size-12;
      br {
        line-height: $size-4;
      }
    }

    tbody {
      tr:nth-child(odd){}
      tr:nth-child(even){}
      tr {
        td:first-child {
          border-left: 2px solid $grey-2;
        }
        td:last-child {
          border-right: 2px solid $grey-2;
        }
        td {
          max-width: 300px;
          vertical-align: top;
          padding: 20px 10px 30px 10px;
          border-bottom: 2px solid $grey-2;
        }
      }
    }
  }
}

.block-article {
  .container {
    margin: 0 auto;
    max-width: 1024px;
    background-color: white;
    border-bottom-left-radius: $size-12;
    border-bottom-right-radius: $size-12;
    img {
      display: block;
      max-width: 95%;
      margin: 0 auto;
    }
    h1,h2,h3,h4,h5,h6 {
      margin: 5px 0 2px 0;
      @include roboto-font(900);
    }

    h1 {
      font-size: $size-4;
      color: $grey-9;
    }
    h2 {
      font-size: $size-5;
      color: $grey-8;
    }
    h3 {
      font-size: $size-6;
      color: $grey-7;
    }
    h4 {
      font-size: $size-7;
      color: $grey-8;
    }
    h5 {
      font-size: $size-7;
      color: $grey-7;
    }
    h6 {
      font-size: $size-7;
      color: $grey-6;
    }

    img {
      max-width: 100%;
    }

    p {
      @include roboto-font(400);
      font-size: $size-8;
      color: $grey-8;
      margin: $size-6 0 $size-6 0;
      a {
        color: $blue-5;
      }
    }
    pre {
      @include inconsolata-font(300);
      background-color: $grey-0;
      font-size: $size-8;
      border-radius: $size-13;
      color: $grey-8;
      overflow: auto;
    }
    ul {
      @include opensans-font(300);
      color: $grey-8;
      margin: $size-8 0 $size-8 0;
      list-style-type: circle;
      li {
        margin-left: $size-3;
        font-size: $size-7;
      }
    }

    .go-back {
      margin-bottom: $size-3;
      a {
        font-size: $size-8;
        @include opensans-font(300);
        color: $blue-4;
        text-decoration: none;
        align-items: center;
        svg {
          height: $size-10;
          width: auto;
          .primary {
            fill: $blue-4;
          }
        }
      }
      &:hover {
        a {
          color: $blue-8;
          text-decoration: underline;
          svg {
            .primary {
              fill: $blue-8;
            }
          }
        }
      }
    }
  }
}

.reference {
  text-align: center;
  margin: -10px auto 0 auto;
}

.twitter-tweet {
  margin: auto;
}
