
@mixin genericsans-font($weight: 400) {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: $weight;
}


@mixin montserrat-font($weight: 400) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
}

@mixin chango-font($weight: 400) {
  font-family: 'Chango', cursive;
  font-weight: $weight;
}

@mixin catamaran-font($weight: 400) {
  font-family: 'Catamaran', Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

@mixin opensans-font($weight: 400) {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

@mixin roboto-font($weight: 400) {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

@mixin droid-font($weight: 400) {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

@mixin fjallaone-font($weight: 400) {
  font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
  font-weight: $weight;
}
