
table {
  border-collapse: collapse;
}

table.leaderboard {
  tr {
    th {
      background-color: $blue-1;
      border: 1px solid $blue-9;
      font-size: $size-6;
    }
    td {
      font-size: $size-8;
      vertical-align: top;
      border: 1px dotted $blue-9;
    }
  }
}
