
@mixin portrait_phone() {
  @media only screen and (max-width: 480px) { @content; }
}

@mixin landscape_phone() {
  @media only screen and (min-width: 481px) and (max-width: 769px) { @content; }
}

@mixin mobile() {
  @media only screen and (max-width: 769px) { @content; }
}

@mixin desktop() {
  @media only screen and (min-width: 770px) { @content; }
}

.portrait-only {
  @include landscape_phone() {
    display: none;
  }
  @include desktop() {
    display: none;
  }
}

.landscape-only {
  @include portrait_phone() {
    display: none;
  }
  @include desktop() {
    display: none;
  }
}

.mobile-only {
  @include desktop() {
    display: none;
  }
}

.desktop-only {
  @include mobile() {
    display: none;
  }
}

.desktop-landscape-only {
  @include portrait_phone() {
    display: none;
  }
}
