:root {
  --blue-0: #DCEEFB;
  --blue-1: #B6E0FE;
  --blue-2: #84C5F4;
  --blue-3: #62B0E8;
  --blue-4: #4098D7;
  --blue-5: #2680C2;
  --blue-6: #186FAF;
  --blue-7: #0F609B;
  --blue-8: #0A558C;
  --blue-9: #003E6B;

  --yellow-0: #FFFBEA;
  --yellow-1: #FFF3C4;
  --yellow-2: #FCE588;
  --yellow-3: #FADB5F;
  --yellow-4: #F7C948;
  --yellow-5: #F0B429;
  --yellow-6: #DE911D;
  --yellow-7: #CB6E17;
  --yellow-8: #B44D12;
  --yellow-9: #8D2B0B;

  --grey-0: #F0F4F8;
  --grey-1: #D9E2EC;
  --grey-2: #BCCCDC;
  --grey-3: #9FB3C8;
  --grey-4: #829AB1;
  --grey-5: #627D98;
  --grey-6: #486581;
  --grey-7: #334E68;
  --grey-8: #243B53;
  --grey-9: #102A43;

  --cyan-0: #E0FCFF;
  --cyan-1: #BEF8FD;
  --cyan-2: #87EAF2;
  --cyan-3: #54D1DB;
  --cyan-4: #38BEC9;
  --cyan-5: #2CB1BC;
  --cyan-6: #14919B;
  --cyan-7: #0E7C86;
  --cyan-8: #0A6C74;
  --cyan-9: #044E54;

  --red-0: #FFEEEE;
  --red-1: #FACDCD;
  --red-2: #F29B9B;
  --red-3: #E66A6A;
  --red-4: #D64545;
  --red-5: #BA2525;
  --red-6: #A61B1B;
  --red-7: #911111;
  --red-8: #780A0A;
  --red-9: #610404;
}
