
:root {
  --size-1: 72px;
  --size-2: 60px;
  --size-3: 48px;
  --size-4: 36px;
  --size-5: 30px;
  --size-6: 24px;
  --size-7: 20px;
  --size-8: 18px;
  --size-9: 16px;
  --size-10: 14px;
  --size-11: 12px;
  --size-12: 8px;
  --size-13: 4px;
  --size-14: 2px;
  --size-15: 1px;
}
